<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>servlets.Signup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verify</servlet-name>
    <servlet-class>servlets.Verify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>my-profile</servlet-name>
    <servlet-class>servlets.MyProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>my-posts</servlet-name>
    <servlet-class>servlets.MyPosts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>submit-post</servlet-name>
    <servlet-class>servlets.SubmitPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>followers</servlet-name>
    <servlet-class>servlets.Followers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>following</servlet-name>
    <servlet-class>servlets.Following</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servlets.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>submit-search</servlet-name>
    <servlet-class>servlets.SubmitSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>servlets.Profile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>follow</servlet-name>
    <servlet-class>servlets.Follow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>unfollow</servlet-name>
    <servlet-class>servlets.Unfollow</servlet-class>
  </servlet>
</web-app>